extends layout

block content
  h1= heading
  form(method='post' action=`${action}`)
    if errors
      h2.error Aaaaargh! We're temporarily doomed!
      each error in errors
        p.error= error
    p.bookProperty
      label(for='title') Title
      input#title(name='title' type='text' value=`${title}` placeholder='Mandatory field')
    p.bookProperty
      label(for='author') Author
      input#author(name='author' type='text' value=`${author}` placeholder='Mandatory field')
    p.bookProperty
      label(for='genre') Genre
      input#genre(name='genre' type='text' value=`${genre}` placeholder='Optional field')
    p.bookProperty
      label(for='year') Year
      input#year(name='year' type='text' value=`${year}` placeholder='Optional field - numbers only')
    p
      input(type='submit' value=`${submitLabel}`)
    p
      a.button(href='/') Cancel