extends layout

block content
  h2.newColours= subtitle
    a(onclick='toggleHighlands()') here
    span#toggleText  to hide the input fields and admire the Scottish Highlands.
  div#bookstore
    form(method='post' action=`${action}`)
      if errors
        each error in errors
          p.error.centre= error
      p.bookProperty
        label(for='title' class='newColours') Enter title:
        input#title(name='title' type='text' value=`${title}` placeholder='Mandatory field')
      p.bookProperty
        label(for='author' class='newColours') Enter name of author:
        input#author(name='author' type='text' value=`${author}` placeholder='Mandatory field')
      p.bookProperty
        label(for='genre' class='newColours') Enter genre:
        input#genre(name='genre' type='text' value=`${genre}` placeholder='Optional field')
      p.bookProperty
        label(for='year' class='newColours') Enter year of publication:
        input#year(name='year' type='text' value=`${year}` placeholder='Optional field - numbers only')
      p.bookProperty.centre
        input(type='submit' value=`${submitLabel}` class='newColours')
      p.bookProperty.centre
        a.button.homeColours(href='/') Cancel and return to home page